body{
    background-image: url('/img/ciel.avif');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
} */
form{
    padding: 20px;
    background-color: white;
    border-radius: 5%;
}
label {
font-style: italic;
color:blue;
}